.App {
  text-align: center;
}

.App-logo {
  height: 2%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 3%;
  left: 50%;
  right: 0%;
  font-size: calc(10px + 2vmin);
  color: white;
  display: inline-block;
}

img {
  flex: 1;
  width: 15%;
  height: 15%;
}


.light-rec {
  position: absolute;
  width: 30%;
  height: 130%;
  background: #CBE2E7;
}

.dark-rec {
  position: absolute;
  width: 50%;
  height: 130%;
  background:#80BBC8;
}

Link, button {
  background-color: #000000;
  color: black !important;
}

.tagline {
  position: absolute;
  width: 500px;
  height: 10%;
  right: 4%;
  bottom: 335px;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  display: flex;
  align-items: flex-end;
  text-align: right;
}

.App-link {
  color: #61dafb;
}

.subtitle {
  position: absolute;
  color: #000000;
  width: 467px;
  right: 4%;
  bottom: 305px;

  font: 36px Raleway;
  line-height: 42px;
  /*display: flex;*/
  align-items: flex-end;
  text-align: right;
}

.screen-buttons {
  position: absolute;
  justify-content: right;
  bottom: 20%;
  right: 4%;
  left: 75%;
}

.btn {
  background-color: white;
  align-content: right;
  color: black !important;
  border-color: #CBE2E7;
  margin-right: 4%;
}

.btn:hover{
  background-color: #CBE2E7;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-out {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 20%;
  height: 80%; 
  background: #ffffff;

}

.form-wrap {
  position: absolute;
  text-align: left;
  left: 50%;
  top: 20%;
}

#label {
  display: inline-block;
  text-align: left;
}
